name: pr

on:
  pull_request:
    branches: [main]

env:
  BRANCH_NAME: ${{ github.event.pull_request.head.ref }}

jobs:
  dependabot-auto-approve-and-merge:
    needs: quality_checks
    uses: ./.github/workflows/dependabot-auto-approve-and-merge.yml
    secrets:
      AUTOMERGE_APP_ID: ${{ secrets.AUTOMERGE_APP_ID }}
      AUTOMERGE_PEM: ${{ secrets.AUTOMERGE_PEM }}
  pr_title_format_check:
    uses: ./.github/workflows/pr_title_check.yml
  get_config_values:
    uses: ./.github/workflows/get-repo-config.yml
  quality_checks:
    uses: ./.github/workflows/quality-checks-devcontainer.yml
    needs: [get_config_values]
    with:
      pinned_image: ${{ needs.get_config_values.outputs.pinned_image }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  tag_release:
    needs: get_config_values
    uses: ./.github/workflows/tag-release-devcontainer.yml
    permissions:
      contents: read
      packages: read
      attestations: read
    with:
      dry_run: true
      pinned_image: ${{ needs.get_config_values.outputs.pinned_image }}
      branch_name: ${{ github.event.pull_request.head.ref }}
      tag_format: ${{ needs.get_config_values.outputs.tag_format }}
      verify_published_from_main_image: false
    secrets: inherit
