name: merge to main workflow

on:
  push:
    branches: [main]

env:
  BRANCH_NAME: ${{ github.event.ref.BRANCH_NAME }}

jobs:
  get_config_values:
    uses: ./.github/workflows/get-repo-config.yml
  quality_checks:
    needs: [get_config_values]
    uses: ./.github/workflows/quality-checks-devcontainer.yml
    with:
      pinned_image: ${{ needs.get_config_values.outputs.pinned_image }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  tag_release:
    needs: [quality_checks, get_config_values]
    uses: ./.github/workflows/tag-release-devcontainer.yml
    with:
      dry_run: false
      pinned_image: ${{ needs.get_config_values.outputs.pinned_image }}
      branch_name: main
      tag_format: ${{ needs.get_config_values.outputs.tag_format }}
    secrets: inherit
